

.title{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.prompt{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
div{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: flex-end;
    
    
}
/*we need to change the shape of the buttons*/
button{
    border-radius: 50%;
    border: 1px solid gray;
    border-color: gray;
    height: 100px;
    width: 100px;
    font-size: 32px;
    background-color: transparent;
    cursor: pointer;
}

button:hover{
    border: 3px solid black;
}