<!-- views/home.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
</head>
<body>
  <h1>David Rocks</h1>

  <nav>
    <a href="/gat">gat</a>
    <a href="/pat">pat</a>
    <a href="/part">part</a>

  </nav>
</body>
</html>