<form action="/todo-ejs" method="post" class="form-example">
    <div class="form-example">
      <label for="item">Enter your item: </label>
      <input type="text" name="item" id="item" required />
    </div>
    <div class="form-example">
      <label for="isComplete">Is it complete?: </label>
      <input type="string" name="isComplete" id="isComplete" required />
    </div>
    <div class="form-example">
      <input type="submit" value="Submit!" />
    </div>
  </form>